.rotation{
    animation: .3s;
    animation-fill-mode: forwards;
}




/* ||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||| */
/* |||||||||||||Horaire||||||||||||| */
/* ||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||| */





.rotation1{
    animation-name: rotate1;
}


.rotation2{
    animation-name: rotate2;
}


.rotation3{
    animation-name: rotate3;
}


.rotation4{
    animation-name: rotate4;
}


.rotation5{
    animation-name: rotate5;
}


.rotation6{
    animation-name: rotate6;
}


.rotation7{
    animation-name: rotate7;
}


.rotation8{
    animation-name: rotate8;
}






@keyframes rotate1{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(45deg);
    }
}

@keyframes rotate2{
    0%{
        transform: rotate(45deg);
    }

    100%{
        transform: rotate(90deg);
    }
}

@keyframes rotate3{
    0%{
        transform: rotate(90deg);
    }

    100%{
        transform: rotate(135deg);
    }
}


@keyframes rotate4{
    0%{
        transform: rotate(135deg);
    }

    100%{
        transform: rotate(180deg);
    }
}


@keyframes rotate5{
    0%{
        transform: rotate(180deg);
    }

    100%{
        transform: rotate(225deg);
    }
}


@keyframes rotate6{
    0%{
        transform: rotate(225deg);
    }

    100%{
        transform: rotate(270deg);
    }
}


@keyframes rotate7{
    0%{
        transform: rotate(270deg);
    }

    100%{
        transform: rotate(315deg);
    }
}


@keyframes rotate8{
    0%{
        transform: rotate(315deg);
    }

    100%{
        transform: rotate(360deg);
    }
}




/* ||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||| */
/* |||||||||||Anti-horaire|||||||||| */
/* ||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||| */




/* antiHoraire */

.rotationBack1{
    animation-name: rotateBack1;
}


.rotationBack2{
    animation-name: rotateBack2;
}


.rotationBack3{
    animation-name: rotateBack3;
}


.rotationBack4{
    animation-name: rotateBack4;
}


.rotationBack5{
    animation-name: rotateBack5;
}


.rotationBack6{
    animation-name: rotateBack6;
}


.rotationBack7{
    animation-name: rotateBack7;
}


.rotationBack8{
    animation-name: rotateBack8;
}







@keyframes rotateBack8{
    0%{
        transform: rotate(360deg);
    }

    100%{
        transform: rotate(315deg);
    }
}


@keyframes rotateBack7{
    0%{
        transform: rotate(315deg);
    }

    100%{
        transform: rotate(270deg);
    }
}


@keyframes rotateBack6{
    0%{
        transform: rotate(270deg);
    }

    100%{
        transform: rotate(225deg);
    }
}


@keyframes rotateBack5{
    0%{
        transform: rotate(225deg);
    }

    100%{
        transform: rotate(180deg);
    }
}


@keyframes rotateBack4{
    0%{
        transform: rotate(180deg);
    }

    100%{
        transform: rotate(135deg);
    }
}


@keyframes rotateBack3{
    0%{
        transform: rotate(135deg);
    }

    100%{
        transform: rotate(90deg);
    }
}


@keyframes rotateBack2{
    0%{
        transform: rotate(90deg);
    }
    
    100%{
        transform: rotate(45deg);
    }
}


@keyframes rotateBack1{
    0%{
        transform: rotate(45deg);
    }
    
    100%{
        transform: rotate(0deg);
    }
}