.map{
    overflow:hidden;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 100px;
    width: 300px;
    height:50px;
    background-color: burlywood;
}

.mapAnimated{
    animation-duration: .5s;
    animation-name: mapAnimation;
}

@keyframes mapAnimation{
    from{
        overflow:hidden;
        text-align: center;
        position: absolute;
        bottom: 0;
        right: 100px;
        width: 300px;
        height:50px;
        background-color: burlywood;
    }


    to{
        text-align: center;
        position: absolute;
        bottom: 0;
        right: 100px;
        width: 300px;
        height:500px;
        background-color: burlywood;
    }
}

.mapOpen{
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 100px;
    width: 300px;
    height:500px;
    background-color: burlywood;
}

.mapAnimatedBack{
    animation-duration: .5s;
    animation-name: mapAnimationBack;
}

@keyframes mapAnimationBack{
    from{
        text-align: center;
        position: absolute;
        bottom: 0;
        right: 100px;
        width: 300px;
        height:500px;
        background-color: burlywood;
    }
        
    to{
        overflow:hidden;
        text-align: center;
        position: absolute;
        bottom: 0;
        right: 100px;
        width: 300px;
        height:50px;
        background-color: burlywood;
    }
}







.opacity07{
    opacity: 0.7;
}
.opacity10{
     opacity: 1;
 }

.opacityUp{
     animation-duration: .5s;
     animation-name: opacityMore;
 }

.opacityDown{
     animation-duration: .5s;
     animation-name: opacityLess;
}

@keyframes opacityLess{

    from{
        opacity: 1;
    }
    to{
        opacity: 0.7;
    }
}

@keyframes opacityMore{
     from{
         opacity : 0.7;
     }

     to{
         opacity : 1;
     }
}



.clignote {
     animation-name: clignoteAnim;
     animation-duration: 1s;
}
 
@keyframes clignoteAnim{
    0%{
        opacity : 0;
    }

    20%{
        opacity: 1;
    }

    40%{
        opacity : 0;
    }
    
    50%{
        opacity: 1;
    }

    60%{
        opacity : 0;
    }
    
    70%{
        opacity: 1;
    }

    80%{
        opacity : 0;
    }
    
    90%{
        opacity: 1;
    }

    100%{
        opacity : 0;
    }
}