body{
    margin :0;
    padding:0;
    width: 100vw;
    height: 100vh;
}
    

.all{
    margin :0;
    padding:0;
    width: 100vw;
    height: 100vh;
}




.overlay{
    display: block;
    text-align: center;
    position: absolute ;
    top :0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: grey ;
    opacity : .95;
    z-index: 3000;
}

.overlayNone{
    display : none;
}