
html {
	margin:0px;
	padding:0px;
}

body {
	margin:0px;
	padding:0px;
	overflow:hidden;
	background:#ffffff;
}

#game {
    background-image: url(../medias/fond.png);
    background-size : cover;
	width:100vw;
	max-width:100vh;
	margin:auto;
    display:block;
}

