img{
    position: absolute;
    top: 100px;
    left: 50px;
    animation: .3s;
    animation-fill-mode: forwards;
}




/* horaire */

.rotation1{
    animation-name: rotate1;
}


.rotation2{
    animation-name: rotate2;
}


.rotation3{
    animation-name: rotate3;
}


.rotation4{
    animation-name: rotate4;
}


.rotation5{
    animation-name: rotate5;
}


.rotation6{
    animation-name: rotate6;
}


.rotation7{
    animation-name: rotate7;
}


.rotation8{
    animation-name: rotate8;
}






@keyframes rotate1{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(45deg);
    }
}

@keyframes rotate2{
    0%{
        transform: rotate(45deg);
    }

    100%{
        transform: rotate(90deg);
    }
}

@keyframes rotate3{
    0%{
        transform: rotate(90deg);
    }

    100%{
        transform: rotate(135deg);
    }
}


@keyframes rotate4{
    0%{
        transform: rotate(135deg);
    }

    100%{
        transform: rotate(180deg);
    }
}


@keyframes rotate5{
    0%{
        transform: rotate(180deg);
    }

    100%{
        transform: rotate(225deg);
    }
}


@keyframes rotate6{
    0%{
        transform: rotate(225deg);
    }

    100%{
        transform: rotate(270deg);
    }
}


@keyframes rotate7{
    0%{
        transform: rotate(270deg);
    }

    100%{
        transform: rotate(315deg);
    }
}


@keyframes rotate8{
    0%{
        transform: rotate(315deg);
    }

    100%{
        transform: rotate(360deg);
    }
}







/* antiHoraire */

.rotationback1{
    animation-name: rotateback1;
}


.rotationback2{
    animation-name: rotateback2;
}


.rotationback3{
    animation-name: rotateback3;
}


.rotationback4{
    animation-name: rotateback4;
}


.rotationback5{
    animation-name: rotateback5;
}


.rotationback6{
    animation-name: rotateback6;
}


.rotationback7{
    animation-name: rotateback7;
}


.rotationback8{
    animation-name: rotateback8;
}







@keyframes rotateback8{
    0%{
        transform: rotate(360deg);
    }

    100%{
        transform: rotate(315deg);
    }
}


@keyframes rotateback7{
    0%{
        transform: rotate(315deg);
    }

    100%{
        transform: rotate(270deg);
    }
}


@keyframes rotateback6{
    0%{
        transform: rotate(270deg);
    }

    100%{
        transform: rotate(225deg);
    }
}


@keyframes rotateback5{
    0%{
        transform: rotate(225deg);
    }

    100%{
        transform: rotate(180deg);
    }
}


@keyframes rotateback4{
    0%{
        transform: rotate(180deg);
    }

    100%{
        transform: rotate(135deg);
    }
}


@keyframes rotateback3{
    0%{
        transform: rotate(135deg);
    }

    100%{
        transform: rotate(90deg);
    }
}


@keyframes rotateback2{
    0%{
        transform: rotate(90deg);
    }
    
    100%{
        transform: rotate(45deg);
    }
}


@keyframes rotateback1{
    0%{
        transform: rotate(45deg);
    }
    
    100%{
        transform: rotate(0deg);
    }
}